body{
    color: #fff;
}
.main-container{
    height: 100vh;
    width: 100%;
    background-color: #12372A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather{

    width: 400px;
    background-color:#436850;
    border-radius: 5px;
}

.search input{
    height: 40px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 250px;
    color: black;
}

nav{
    display: flex;
    justify-content: center;
}

.search-logo{
    margin-top: 10px;
    height: 40px;
    width: 40px;
   

    border-radius: 50%;
    background-color: #fff;
   line-height: 40px;
   text-align: center;
   border: 2px solid black;
   margin-bottom: 10px;
   margin-left: 10px;

   color: black;
}
.sun-img{
    text-align: center;
}
.sun-img img{
    margin-top: 20px;
    height: 90px;
    width: 90px;
   margin-bottom: 0px;
}

.text{
    text-align: center;
}

.text h1{
    
    font-size: 70px;
    margin-bottom: 0px;
}
.text h2{
    margin-top: 0px;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.humidity-div{
    display: flex;
    align-items: baseline;
}

.humidity h1{
    margin-bottom: 0px;
}
.humidity h2{
    margin-top: 0px;
}




.wind-speed h1{
    margin-bottom: 0px;
}
.wind-speed h2{
    margin-top: 0px;
}

.wind-div{
    display: flex;
    align-items: baseline;
}


#afterNav{
    display: none;
}

#error{
    text-align: center;
    color:#fff;
}